
<!DOCTYPE html>
{% load static %}


<html>
<head>
    <title> {% block title %} Test title {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'PersonalDataAdmin/css/style.css' %}">
</head>

<body>
  <div id="header">
      <div id="logo"><strong>Personal - Data - Admin</strong></div>
  </div>

  <div id="wrapper">

    <div id="menu">
        {% include 'PersonalDataAdmin/personal_data_menu.html' %}
    </div>


    <div id="main_content">
        {% block main_content %}
        <h1> nagłówek h1 nagłówek h1 nagłówek </h1>
        <h2>nagłówek h2 nagłówek h2 nagłówek </h2>
        <p>
        "paragraf do opisu czegoś tam "
        </p>
        <h2>nagłówek h2 nagłówek h2 nagłówek</h2>
        <p>
        "paragraf do opisu czegoś tam "
        </p>
        <h2>nagłówek h2 nagłówek h2 nagłówek</h2>
        <p>
        "paragraf do opisu czegoś tam "
        </p>
        <h2>nagłówek h2 nagłówek h2 nagłówek</h2>
        <p>
        "paragraf do opisu czegoś tam "
        </p>
        <h2>nagłówek h2 nagłówek h2 nagłówek</h2>
        <p> 
        "paragraf do opisu czegoś tam "
        </p>
        {% endblock %}
    </div>
</body>
    <div style="clear:both;"></div>
    <div id="footer">
        {% block footer %}(C) TO JEST SEKCJA STOPKI - FOOTER  {% endblock %}
    </div>

</html>